<h2>Create your list</h2>
<form [formGroup]="formMessage" (ngSubmit)="submit()">

  <div class="form-group">
    <input
    id="item"
    type="text"
    class="form-control"
    placeholder="message"
    formControlName="message"
    [ngClass]="formMessage.get('message')?.errors?.['required'] || formMessage.get('message')?.errors?.['minlength'] ? 'is-invalid' : 'is-valid'">
    <div class="invalid-feedback" *ngIf="formMessage.get('message')?.errors?.['required']">
      El campo mensaje es obligatorio.
    </div>
    <div class="invalid-feedback" *ngIf="formMessage.get('message')?.errors?.['minlength']">
      El campo mensaje debe de ser mínimo de 25 caracteres.
    </div>
    <div class="valid-feedback" *ngIf="!formMessage.get('message')?.errors?.['required'] && !formMessage.get('message')?.errors?.['minlength']">
      Campo valido.
    </div>
  </div>

  <div class="form-group">
    <label for="">Type of Message</label>
    <select class="form-control" formControlName="type">
      <option value="">Choose one...</option>
      <option value="0">Error</option>
      <option value="1">Warning</option>
      <option value="2">Info</option>
      <option value="3">Success</option>
    </select>
  </div>


  <button type="submit" [disabled]="formMessage.invalid" class="btn btn-primary">submit</button>
</form>


<!-- <p>{{ formMessage.get('message')?.value }}</p> -->
